<article class="contentTable" ng-controller="bookmarksContoller">
    <header id="Delicious">
        <a href="#" class="home">
            Go Up
        </a>
        <h1 class="header2"> 
            {{model.title}}
        </h1>
    </header>     
    <section ng-app="deliciousApp" class="contenttxt container-fluid">
            <div>My bookmarks are saved at <a href="https://delicious.com/rokni" external>delicious.com/rokni</a>:</div>
            <div ng-controller="deliciousController as delicious">
                <div ng-if="theStatus == 'error'">connection status: {{theStatus}}</div>
                <div class="row" ng-repeat="bookmark in deliciousEntry" ng-if="theStatus == 'success'">
                    <span class="col-xs-12 col-md-7"><a ng-href="{{bookmark.u}}" external>{{bookmark.d}}</a></span>
                    <span class="col-xs-12 col-md-5">Tags: <delicious-tags></delicious-tags></span>
                    <!--span class="col-md-3">saved on: {{bookmark.dt | date:"MM/dd/yyyy" }}</span-->
                </div>
            </div>
    </section>
</article>