<article class="contentTable">
    <section id="tocontent">
        <div class="contenttxt">The <b>Rokni.net</b> is an 'experimental' site. I try new technologies here and then might move some of it to <a href="http://www.rokni.com" class="external" external>Rokni.com</a>.</div>
        <div class="contenttxt">Anything related to html, css, javascript, design patterns and frameworks that is interesting and needs to be tried out, will be tested here.</div>
        <div class="contenttxt">As this site condiered <b>Hard Hat Area</b>, best to view it with modern browsers. So, older browsers are not supported and might not rendered correctly.</div>
    </section>
</article>