<article class="contentTable" ng-controller="RWDContoller">
    <section>
            <header id="Responsive%20Web%20Design">
                <a href="#" class="home">
                    Go Up
                </a> 
                <h1 class="header2"> 
                  / {{model.title}}
                </h1>
            </header> 
            <div class="contenttxt">
                <a href="http://www.rokni.com/" class="external" external>Rokni.com</a> has already created with Responsive web design (<abbr title="Responsive Web Design">RWD</abbr>) in mind although it has a limited reach. Rokni.net is inherited the stylesheet and added some of its own. It's created adhering RWD principlas. So, Once its <a href="#/webPerformance">Web Performance</a> reaches within a satisfactory results and all updates and functionalities are done, I'll make it works on mobile devices with <abbr title="Responsive Web Design">RWD</abbr> experiences. 
            </div>
            <div class="contenttxt">Please note, currently this site on mobile devices, lacks navigation due to the fact that its media query styles inherited from Rokni.com.</div>
    </section>
</article>